:root {
  --body-bg-color: #FAF7FD;
  --purple: #BB99DD;
}

* {
  margin: 0;
  background-color: var(--body-bg-color);
  color: var(--purple);

  font-family: Poppins;
}

main {
  min-height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 33px;
}

.profileInfo a {
  text-decoration: none;
  margin-top: 15px;
}

.profileInfo p {
  font-size: 16px;
  font-weight: 300;
}

.profileInfo img {
  box-sizing: border-box;
  width: 220px;
  height: 220px;
  border-radius: 9999px;
  border: 10px solid var(--body-bg-color);
  outline: 2px solid var(--purple);
  margin-top: 30px;

  transition: 0.5s;
}

.profileInfo img:hover {
  transform: rotate(5deg) scale(1.05);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links a {
  width: 325px;
  padding: 12px 0;
  margin-bottom: 16px;

  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  background-color: var(--body-bg-color);

  border: 2px solid var(--purple);
  border-radius: 4px;

  transition: 0.5s;
}

.links a:hover {
  transform: scale(1.05) rotate(-2deg);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: var(--purple);
  color: var(--body-bg-color);
}

.socialIcons {
  max-width: 325px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-top: 60px;
}

.socialIcons a {
  font-size: 24px;
  padding: 0 15px;

  transition: 0.5s;
}

.socialIcons a:hover {
  transform: scale(1.25);
}





